.navbar {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    padding: 0;
    margin-bottom: 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1.1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width: 995px) {
    .navbar {
        padding: 1rem;
    }

    .nav-link {
        padding: .5rem;
    }
}

.active-link {
    background-color: rgba(77, 168, 70, .6);
    color: white;
}

.active-link .link-primary {
    color: white !important;
}

.text-green:hover {
    color: #4da846;
}